<?xml version="1.0"?>
<model>
  <name>h_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>AVFL Autonomy</name>
    <email>avfl@example.com</email>
  </author>

  <description>
    Helipad landing base with H symbol inside a circle.
    Square base with 1.5m sides.
  </description>
</model>
