<?xml version="1.0"?>
<model>
  <name>ArUco Marker 1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>AVFL Autonomy</name>
    <email>autonomy@avfl.com</email>
  </author>

  <description>
    ArUco marker ID 1 for visual navigation and localization.
  </description>
</model>
